<div id="container">
  <mat-card>
    <mat-card-title *ngIf="((closeTodo$ | async)?.length) !== ((todos$ | async)?.length)">Open Todos</mat-card-title>
    <mat-card-content>
      <mat-list>
        <ng-container *ngFor="let todo of todos$ | async">
          <mat-list-item *ngIf="!todo.isClosed">
            <mat-checkbox [checked]="todo.isClosed" (change)="toggleTodo($event.checked, todo.title)">
              {{ todo.title }}
            </mat-checkbox>
          </mat-list-item>
        </ng-container>
      </mat-list>
      <mat-divider inse *ngIf="(closeTodo$ | async)?.length"></mat-divider>
    </mat-card-content>

    <mat-card-content>
    <mat-card-title class="ml-2" *ngIf="(closeTodo$ | async)?.length">Todos closed</mat-card-title>
      <mat-list>
        <ng-container *ngFor="let todo of todos$ | async">
          <mat-list-item *ngIf="todo.isClosed">
            <mat-checkbox [checked]="todo.isClosed" (change)="toggleTodo($event.checked, todo.title)" class="crossed">
              {{ todo.title }}
            </mat-checkbox>
          </mat-list-item>
        </ng-container>
      </mat-list>
    </mat-card-content>

  </mat-card>
</div>
